<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="only_ur10_gripper">

  <xacro:property name="pi" value="3.1415926535897931"/>
  <xacro:arg name="prefix_ur3" default="ur3_"/>
  <xacro:arg name="prefix_ur10" default="ur10_"/>
  <xacro:arg name="limited_ur3" default="true"/>
  <xacro:arg name="limited_ur10" default="true"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro"/>

 

  <!-- ur10 -->
  <xacro:include filename="$(find ur3ur10car)/urdf/ur10.urdf.xacro"/> <!-- original file has been edited because of same variable names in ur3 and ur10 -->
  <xacro:include filename="$(find spoon_gripper)/urdf/spoon_gripper.urdf.xacro"/>


  
  <!-- place table -->
  <!-- <xacro:dizuo/> -->

  <!-- place world reference -->

  <!-- <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link ="car_body_link"/>
    <origin xyz="-0.23 0.51 0.0" rpy="1.57 0.0 0.0" />
  </joint> -->


 <xacro:ur10_robot prefix="$(arg prefix_ur10)" joint_limited="$(arg limited_ur10)"/>
  <joint name="spoon" type="fixed">
    <parent link="$(arg prefix_ur10)ee_link"/>
    <child link ="spoon_base_link"/>
    <origin xyz="0 0 0" rpy="${-pi/2.0} ${-pi/4.0} ${-pi/2.0}" />
  </joint>


  <!-- place ur10 endeffector -->
  <!-- <xacro:endeffector prefix="$(arg prefix_ur10)"/>
  <joint name="$(arg prefix_ur10)ee_mount" type="fixed">
    <parent link="$(arg prefix_ur10)ee_link" />
    <child link = "$(arg prefix_ur10)ee_frame" />
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2.0} 0.0 ${pi/2.0}" />
  </joint> -->
<!--
  <joint name="$(arg prefix_ur10)ee_mount" type="fixed">
    <parent link="$(arg prefix_ur10)tool0"/>
    <child link ="$(arg prefix_ur10)ee_frame"/>
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>
-->





</robot>
