<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur3_softgripper">

  <xacro:property name="pi" value="3.1415926535897931"/>
  <xacro:arg name="prefix_ur3" default="ur3_"/>
  <!-- <xacro:arg name="prefix_ur10" default="ur10_"/> -->
  <xacro:arg name="limited_ur3" default="true"/>
  <!-- <xacro:arg name="limited_ur10" default="true"/> -->

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro"/>

  <!-- ur3 -->
  <xacro:include filename="$(find ur3ur10)/urdf/ur3.urdf.xacro"/> <!-- file has been edited because of same variable names in ur3 and ur10 -->

  <!-- ur10 -->
  <!-- <xacro:include filename="$(find ur3ur10)/urdf/ur10.urdf.xacro"/> original file has been edited because of same variable names in ur3 and ur10 -->

  <!-- endeffector -->
  <xacro:include filename="$(find soft_gripper)/urdf/soft_gripper.urdf.xacro"/>

  <!-- table -->
  <xacro:include filename="$(find dizuo)/urdf/dizuo.urdf.xacro"/>

  <!-- place table -->
  <!-- <xacro:dizuo/> -->

  <!-- place world reference -->
<!--
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link ="table_ground"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
-->
  <!-- place ur3 arm -->
  <xacro:ur3_robot prefix="$(arg prefix_ur3)" joint_limited="$(arg limited_ur3)"/>
  <joint name="$(arg prefix_ur3)platform_mount" type="fixed">
    <parent link="dizuo"/>
    <child link ="$(arg prefix_ur3)base_link"/>
    <origin xyz="-0.25 0 0.80" rpy="0 0 ${pi/2}" />
  </joint>
  
  <!-- place ur3 endeffector -->
  <xacro:macro name="soft_gripper" />
  <joint name="$(arg prefix_ur3)ee_mount" type="fixed">
    <parent link="$(arg prefix_ur3)ee_link" />
    <child link = "gripper_base_link" />
    <origin xyz="0.14 -0.025 0.01" rpy="${pi/2} ${pi/2} ${pi}" />
  </joint>


  <!-- place ur10 arm -->
  <!-- <xacro:ur10_robot prefix="$(arg prefix_ur10)" joint_limited="$(arg limited_ur10)"/>
  <joint name="$(arg prefix_ur10)platform_mount" type="fixed">
    <parent link="dizuo"/>
    <child link ="$(arg prefix_ur10)base_link"/>
    <origin xyz="0.25 0.0 0.80" rpy="0 0 ${pi/2}" />
  </joint> -->

  <!-- place ur10 endeffector -->
  <!-- <xacro:endeffector prefix="$(arg prefix_ur10)"/>
  <joint name="$(arg prefix_ur10)ee_mount" type="fixed">
    <parent link="$(arg prefix_ur10)ee_link" />
    <child link = "$(arg prefix_ur10)ee_frame" />
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2.0} 0.0 ${pi/2.0}" />
  </joint> -->
<!--
  <joint name="$(arg prefix_ur10)ee_mount" type="fixed">
    <parent link="$(arg prefix_ur10)tool0"/>
    <child link ="$(arg prefix_ur10)ee_frame"/>
    <origin xyz="0 0 0" rpy="0 0 ${pi}" />
  </joint>
-->
</robot>
