<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="desk">
  <link
    name="desk">
    <inertial>
      <origin
        xyz="0.57079 -0.15101 -0.94674"
        rpy="0 0 0" />
      <mass
        value="420.01" />
      <inertia
        ixx="141.97"
        ixy="-0.26135"
        ixz="-1.1031"
        iyy="188.68"
        iyz="-0.646080000000008"
        izz="54.592" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://desk/meshes/desk.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://desk/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://desk/meshes/desk.STL" />
      </geometry>
    </collision>
  </link>
</robot>